# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse / STS
.project
.classpath
.settings/
.factorypath
.springBeans
.sts4-cache
.apt_generated

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
.vscode/

# Logs
*.log

# JVM crash logs
hs_err_pid*
replay_pid*